

<% content_for :menu_data_too do %>
  <h2>Services</h2>
  <ul>
    <li><a href="#">MAC & PC</a></li>
    <li><a href="#">Consulting</a></li>
    <li><a href="#">Training</a></li>
    <li><a href="#">Repairs</a></li>
    <li><a href="#">Installations</a></li>
    <li><a href="#">Software</a></li>
    <li><a href="#">Hardware</a></li>
    <li><a href="#">iPhone</a></li>
    <li><a href="#">iPods</a></li>
    <li><a href="#">Blackberries/SmartPhones</a></li>
    <li><a href="#">Virus & Spyware removal</a></li>
    <li><a href="#">Disk Optimization</a></li>
    <li><a href="#">Computer tune-up/maintenance</a></li>
    <li><a href="#">Backup Strategies</a></li>
  </ul>  
<% end %>
