<p>
  <b>Title:</b>
  <%=h @services_page.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @services_page.body %>
</p>


<%= link_to 'Edit', edit_services_page_path(@services_page) %> |
<%= link_to 'Back', services_pages_path %>