!vendor/bundler_gems/cache/
*.log
*elc
.DS_Store
.bundle/
.newsrc-dribble
.nnmail-cache
.svn
/#.newsrc-dribble#
/config/amazon_s3.yml
/config/config.yml
/config/database.yml
/config/deploy.rb
/config/smtp.yml
/db/*.sqlite3
/log/*.log
/public/uploads/*
/tmp/**/*
/tmp/restart.txt
auto-save-list
backups/*
bin/*
custom.el
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
loaddefs.el*
oddmuse/*
places
thumbs/*
url/cookies
vendor/bundler_gems/*
