      <%= render :partial => 'home_pages/introduction' %>

<h1 align="center">
Friendly & Patient <br />
Based in Lexington, MA <br />
Personal and small business<br />
computer & technology help in<br />
the Boston Metrowest area<br />
</h1>
