<p>
  <b>Title:</b>
  <%=h @contact_page.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @contact_page.body %>
</p>


<%= link_to 'Edit', edit_contact_page_path(@contact_page) %> |
<%= link_to 'Back', contact_pages_path %>