<% content_for :menu_data do %>
  
  <h2>Introduction</h2>
  
  <ul>
    <li>  
      Friendly & Patient <br />
      Based in Lexington, MA <br />
      Personal and Small business <br />
      Computer technology help in <br />
      the Boston Metrowest area <br />
    </li>
    <br />
    <li> 
      Offering friendly help <br />
      on-site service or we'll <br />
      Pick up and drop off your  <br />
      computer <br />
    </li>
  </ul>

<% end %>
