<p>
  <b>Title:</b>
  <%=h @home_page.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @home_page.body %>
</p>


<%= link_to 'Edit', edit_home_page_path(@home_page) %> |
<%= link_to 'Back', home_pages_path %>