<hr />

<div id="right-column"> 
  <ul>


    <li>  <img src="/images/tick.png" />
      Copyright (c) <%=Time.now.strftime("%Y") %>  ACMMCA. All rights reserved. Developed by <a href="http://chasmaninfo.heroku.com"> Charles Magid.   </a>  In conjunction with Complex IT LLC using all open source tools.

    </li>


    <li><img src="/images/tick.png" />

      <a href="http://rubyonrails.org/">  <b>"Rails", "Ruby on Rails"</b> </a> , and the Rails logo are registered trademarks of  <a href="http://www.loudthinking.com/about.html"> David Heinemeier Hansson.</a>
      All rights reserved.    Rails is released under the <a href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>. Ruby under the <a href="http://www.ruby-lang.org/en/LICENSE.txt">Ruby License</a>.
    </li>

    <li><img src="/images/tick.png" />
      Graphics Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.  
      &copy; 2008. All Rights Reserved. Thanks to Chris Houhoulis for pointed out this site.

    </li>
    
    <li>  <img src="/images/tick.png" />
      <a href="http://gitrdoc.com/mislav/will_paginate/tree/master/">mislav-will_paginate </a>Copyright © 2007 PJ Hyett and Mislav Marohnić 
    </li>

    <li><img src="/images/tick.png" />
      <a href="http://github.com/mattknox/goaloc"> <b>Goaloc</b> - <u>Generate On A Lot Of Crack</u> </a>is a repl-based generator, intended to speed up the start of the rails.
    </li>


    <li><img src="/images/tick.png" />
      <a href="http://jquery.com/"> <b>jQuery</b> - <u>jQuery Javascript framework</u> </a>Nice framework
    </li>


    <li><img src="/images/tick.png" />
      <a href="git://github.com/ahe/2dc_jqgrid.git"> <b>2DConcepts</b> - <u>jQuery datagrids gem</u> </a>This plugin allows you to add jQuery datagrids very easily to your Rails applications. 
    </li>



    <br />
    <br />



  </ul>
</div>

